{% extends "base.html" %}
{% load static %}
{% block title %}Login{% endblock %}

{% block style %}
<link href="{% static 'css/auth.css' %}" rel="stylesheet">
{% endblock %}

{% block wrapper%}

{% endblock %}


{% block navbar %}
    <h4>Welcome the Open Threat Intelligence Plateform</h4>
{% endblock %}


{% block content %}
<div><img id="brand-logo" src="{% static 'icons/brand_logo.png' %}"></div>
<div class="container section shadow-lg p-3 mb-5 bg-white rounded" id="auth-block">
        <h4>Please log in</h4>
        <form method="POST">
                {{error|safe}}
                {% csrf_token %}
                <div class="form-group">
                  <label for="inputUsername">Username</label>
                  <input type="text" class="form-control" id="inputUsername" aria-describedby="usernameHelp" name="username" placeholder="Enter username">
                  <small id="usernameHelp" class="form-text text-muted">If you don't have any credentials, please contact your administrator.</small>
                </div>
                <div class="form-group">
                  <label for="inputPassword">Password</label>
                  <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-dark">Submit</button>
            </form>
    
</div>

{% endblock %}


{% block scripts %}
{% endblock %}