<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Open TIP{% endblock %}</title>


    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% block style %} {% endblock %}
</head>
<body>
    {% block wrapper %}
    <div id="wrapper">

            <!-- Sidebar -->
            <div id="sidebar-wrapper" class="shadow">

                <ul class="sidebar-nav">

                    <li>
                        <a href="/events"><img src="{% static 'icons/events_icon.png' %}"> Events </a>
                    </li>
                    <li>
                        <a href="/probes"> <img src="{% static 'icons/probe_icon.png' %}"> Probes</a>
                    </li>
                    <li>
                        <a href="/admin"><img src="{% static 'icons/settings_icon.png' %}">Config</a>
                    </li>
                    <li>
                        <a href="/wiki"><img src="{% static 'icons/wiki_icon.png' %}"> Wiki</a>
                    </li>
                    <li>
                        <a href="/logout"><img src="{% static 'icons/logout_icon.png' %}"> Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    {% endblock %}

<div class="container-fluid content-nav">

    <div id="brand" class="float-left text-white">
        <img class="d-inline" id="brand-logo-reduced" src="{% static 'icons/brand_logo.png' %}" >
        <h3 class="d-inline"> OpenTIP</h3>
    </div>
    <ul id="second_nav" class="nav nav-tabs row justify-content-md-center" role="tablist">
    {% block navbar %}{% endblock %}
    </ul>
</div>

<div id="content">
    {% block content %}{% endblock %}
</div>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'js/jquery/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/base.js' %}"></script>
{% block scripts%}
{% endblock %}


</body>
</html>
