{% extends "base.html" %}
{% load static %}
{% block title %}Events & Threats {% endblock %}

{% block style %}
<link href="{% static 'css/events.css' %}" rel="stylesheet">
{% endblock %}


{% block navbar %}
<li class="nav-item">
    <a class="nav-link active" id="nav-events-tab" data-toggle="tab" href="#nav-events" role="tab"
       aria-controls="nav-events" aria-selected="true">Events</a>
</li>
<!--
  <li class="nav-item">
    <a class="nav-link" id="nav-dashboard-tab" data-toggle="tab" href="#nav-dashboard" role="tab"
       aria-controls="nav-dashboard" aria-selected="true">Dashboard</a>
</li>
<li class="nav-item">
    <a class="nav-link" id="nav-customize-tab" data-toggle="tab" href="#nav-customize" role="tab"
       aria-controls="nav-customize" aria-selected="true">Customize</a>
</li>
-->
{% endblock %}


{% block content %}
<!-- Tabs content-->
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-events" role="tabpanel" aria-labelledby="nav-events-tab">

        <!-- Modal -->
        <div class="modal fade" id="event-qualification-modal" tabindex="-1" role="dialog"
             aria-labelledby="event-qualification-modal1"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Event qualification</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Please choose a qualification for this event.
                        According to the machine learning based qualification, this event is most likely to be <span id="modal-qualification-badge" class="badge badge-secondary">Unknown</span>.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" id="modal-malicious-button">Set as Malicious</button>                        
                        <button type="button" class="btn btn-success" id="modal-legitimate-button">Set as Legitimate</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid section">
            <!--Focus block-->
            <div class="row justify-content-md-center">
                <div class="col-12 text-center card no-padding">
                    <div class="shadow-sm title-bar">
                        <h4 class="float-left text-center">Focus</h4>
                        <button type="button" class="btn btn-secondary float-right invisible"
                                id="button-toggle-focus-block">Toggle
                        </button>
                    </div>
                    <div id="event-focus-default-message">Please select an event to display information about it.</div>
                    <div id="event-focus" class="invisible thin">
                        <form>
                            {% csrf_token %}
                            <div class="form-group row">
                                <div class="col-sm-3"></div>
                                <label for="form-event-qualification" class="col-sm-2 col-form-label">Qualification :</label>
                                <div class="col-sm-2">
                                    <h3><span id="form-event-qualification" class="badge"></span></h3>
                                </div>
                                <div class="col-sm-3"></div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-1"></div>
                                <label for="form-event-id" class="col-sm-2 col-form-label">Selected event :</label>
                                <div class="col-sm-2">
                                    <input type="text" readonly class="form-control" id="form-event-id" value="">
                                </div>
                                <label for="form-event-date" class="col-sm-2 col-form-label">Added on:</label>
                                <div class="col-sm-2">
                                    <input type="text" readonly class="form-control" id="form-event-date" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-1"></div>
                                <label for="form-event-url" class="col-sm-2 col-form-label">Url:</label>
                                <div class="col-sm-6">
                                    <input type="text" readonly class="form-control" id="form-event-url" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-1"></div>
                                <label for="form-event-title" class="col-sm-2 col-form-label">Page title:</label>
                                <div class="col-sm-2">
                                    <input type="text" readonly class="form-control" id="form-event-title" value="">
                                </div>
                                <label for="form-event-form" class="col-sm-2 col-form-label">Form on the page:</label>
                                <div class="col-sm-2">
                                    <input type="text" readonly class="form-control" id="form-event-form" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-1"></div>
                                <label for="form-event-domain" class="col-sm-2 col-form-label">Domain name:</label>
                                <div class="col-sm-2">
                                    <input type="text" readonly class="form-control" id="form-event-domain" value="">
                                </div>
                                <label for="form-event-ip" class="col-sm-2 col-form-label">IP:</label>
                                <div class="col-sm-2">
                                    <input type="text" readonly class="form-control" id="form-event-ip" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-1"></div>
                                <label for="form-event-dns" class="col-sm-2 col-form-label">Domain server(s):</label>
                                <div class="col-sm-6">
                                    <input type="text" readonly class="form-control" id="form-event-dns" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-1"></div>
                                <label for="form-event-registrar" class="col-sm-2 col-form-label">Registrar
                                    name:</label>
                                <div class="col-sm-2">
                                    <input type="text" readonly class="form-control" id="form-event-registrar" value="">
                                </div>
                                <label for="form-event-registration-date" class="col-sm-2 col-form-label">Registration
                                    date:</label>
                                <div class="col-sm-2">
                                    <input type="text" readonly class="form-control" id="form-event-registration-date"
                                           value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-1"></div>
                                <label for="form-event-expiration-date" class="col-sm-2 col-form-label">Expiration
                                    date:</label>
                                <div class="col-sm-2">
                                    <input type="text" readonly class="form-control" id="form-event-expiration-date"
                                           value="">
                                </div>
                                <label for="form-event-update-date" class="col-sm-2 col-form-label">Last update
                                    date:</label>
                                <div class="col-sm-2">
                                    <input type="text" readonly class="form-control" id="form-event-update-date"
                                           value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-1"></div>
                                <label for="form-event-http" class="col-sm-2 col-form-label">HTTP :</label>
                                <div class="col-sm-2">
                                    <input type="text" readonly class="form-control" id="form-event-http" value="">
                                </div>
                                <label for="form-event-issuer" class="col-sm-2 col-form-label">Certificate
                                    issuer:</label>
                                <div class="col-sm-2">
                                    <input type="text" readonly class="form-control" id="form-event-issuer" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-1"></div>
                                <label for="form-event-emails" class="col-sm-2 col-form-label">Contact emails:</label>
                                <div class="col-sm-6">
                                    <input type="text" readonly class="form-control" id="form-event-emails" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-1"></div>
                                <label for="form-event-location" class="col-sm-2 col-form-label">Location:</label>
                                <div class="col-sm-6">
                                    <input type="text" readonly class="form-control" id="form-event-location" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-8">
                                    <button type="button" class="btn btn-lg btn-warning" id="qualify-event-button" data-toggle="modal" data-target="#event-qualification-modal">Qualify</button>
                                </div>
                            </div>

                        </form>


                    </div>


                </div>
            </div>
            <!-- Event & Threats block-->
            <div class="row">
                <div class="col-12 text-center card no-padding">
                    <div class="shadow-sm title-bar no-margin-bottom">
                        <h4 class="float-left text-center">Events</h4>
                    </div>
                    <!--Table list of events-->
                    <div class="table-responsive" id="event-list">
                        <table class="table table-striped table-bordered table-hover table-lg">
                            <thead id="event-list-head" class="text-center">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Qualification</th>
                                <th scope="col">Page link</th>
                                <th scope="col">IP</th>
                                <th scope="col">Domain name</th>
                                <th scope="col">Discovered on</th>
                                <th scope="col">Registered on</th>
                                <th scope="col">Registrar name</th>
                            </tr>
                            </thead>
                            <tbody id="event-list-body">
                            </tbody>
                        </table>
                    </div>

                    <div class="row justify-content-md-center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link event-page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">-</a></li>
                                <li class="page-item">
                                    <a class="page-link event-page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <!---->
    <div class="tab-pane fade" id="nav-dashboard" role="tabpanel" aria-labelledby="nav-dashboard-tab">.
        <!--Dashboard block-->
    </div>
    <div class="tab-pane fade" id="nav-customize" role="tabpanel" aria-labelledby="nav-customize-tab">
        <!-- Customize block-->
    </div>

</div>

{% endblock %}


{% block scripts %}

<script src="{% static 'js/events.js' %}"></script>

{% endblock %}