{% extends "base.html" %}
{% load static %}
{% block title %}Probes & Sources{% endblock %}

{% block style %}
<link href="{% static 'css/probes.css' %}" rel="stylesheet">
{% endblock %}


{% block navbar %}
<li class="nav-item">
    <a class="nav-link active" id="nav-probes-tab" data-toggle="tab" href="#nav-probes" role="tab"
       aria-controls="nav-probes" aria-selected="true">Probes</a>
</li>
<li class="nav-item">
    <a class="nav-link" id="nav-sources-tab" data-toggle="tab" href="#nav-sources" role="tab"
       aria-controls="nav-sources" aria-selected="true">Sources</a>
</li>
{% endblock %}

{% block content %}

<!-- Tabs content-->
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-probes" role="tabpanel" aria-labelledby="nav-probes-tab">

        <!-- Modal -->
        <div class="modal fade" id="apikey-renew-modal" tabindex="-1" role="dialog"
             aria-labelledby="apikey-renew-modal1"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirmation request</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        You are about to generate a new apikey for this probe.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success" id="modal-confirm-button">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid section">
            <div class="row justify-content-md-center">
                <div class="col-12 text-center card no-padding">
                    <div id="probe-manage-head" class="shadow-sm container-fluid title-bar">
                        <div class="row">
                            <div class="col-2">
                                <h4 class="float-left">Probe configuration</h4>
                            </div>
                            <div class="col-8"></div>
                            <div class="col-2">
                                <div class="dropdown inline">
                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                            id="probe-select-dropdown"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status"
                                              aria-hidden="true"></span>
                                        Loading...
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="probe-select-dropdown">
                                        <div id="dropdown-probes-list" class="overflow-auto">
                                            <div class="list-group" id="probe-select-id-list">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" id="add-probe-button" class="btn btn-secondary inline">Add
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="probe-select-message">
                        <br/>
                        <p>No probe selected.</p>
                    </div>
                    <!--Probes block-->
                    <form id="probe-manage-form" class="container-fluid thin invisible">
                        {% csrf_token %}
                        <!--Probe id-->
                        <div class="form-group row">
                            <div class="col-sm-3"></div>
                            <label for="form-probe-id" class="col-sm-2 col-form-label text-left">Probe number</label>
                            <div class="col-sm-3">
                                <input type="text" readonly class="form-control" id="form-probe-id" value="">
                            </div>
                        </div>
                        <!--Probe name-->
                        <div class="form-group row">
                            <div class="col-sm-3"></div>
                            <label for="form-probe-name" class="col-sm-2 col-form-label text-left">Probe name</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="form-probe-name"
                                       placeholder="Enter name here">
                            </div>
                        </div>
                        <!--Probe apikey-->
                        <div class="form-group row">
                            <div class="col-sm-3"></div>
                            <label for="form-probe-apikey" class="col-sm-2 col-form-label text-left">Probe API
                                key</label>
                            <div class="col-sm-5">
                                <input type="text" readonly class="form-control" id="form-probe-apikey" value="">
                            </div>
                            <button type="button" class="btn btn-secondary" data-toggle="modal"
                                    data-target="#apikey-renew-modal" id="apikey-renew-button"><img
                                    src="{% static 'icons/renew_icon.png' %}"></button>
                        </div>
                        <br/>
                        <div class="btn-toolbar row" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="col-sm-5"></div>
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <button type="button" id="btn-submit" class="btn btn-success">Submit</button>
                            </div>
                            <div class="btn-group mr-2" role="group" aria-label="Second group">
                                <button type="button" id="btn-reset" class="btn btn-danger">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <div class="tab-pane fade" id="nav-sources" role="tabpanel" aria-labelledby="nav-sources-tab">
        <!--Sources block-->
        <div class="container-fluid section">
            <div class="row justify-content-md-center">
                <div class="col-12 text-center card no-padding">
                    <div id="url-manage-head" class="shadow-sm container-fluid title-bar">
                        <div class="row">
                            <div class="col-2">
                                <h4 class="float-left">Manage URLs</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card shadow-sm col-5 no-padding url-block" id="uncategorized-url-block">
                            <form class="form container-fluid card-header no-padding">
                                <div class="title-bar">
                                    <h5>Uncategorized URLs</h5>
                                </div>
                                <div class="form-group row justify-content-md-center">
                                    <label for="form-uncategorized-url-name" class=" col-form-label">Add a url: </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="form-uncategorized-url-name"
                                               value="" placeholder="Enter url here">
                                    </div>
                                    <button type="button" id="button-add-uncategorized-url" action="#"
                                            class="btn btn-primary">Add
                                    </button>
                                </div>

                            </form>
                            <ul id="uncategorized-url-list" class="list-group overflow-auto">
                            </ul>
                        </div>
                        <div class="card shadow-sm col-5 no-padding url-block" id="legitimate-url-block">
                            <form class="form container-fluid card-header no-padding">
                                <div class="title-bar">
                                    <h5>Legitimate URLs</h5>
                                </div>
                                <div class="form-group row justify-content-md-center">
                                    <label for="form-legitimate-url-name" class=" col-form-label">Add a url: </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="form-legitimate-url-name" value=""
                                               placeholder="Enter url here">
                                    </div>
                                    <button type="button" id="button-add-legitimate-url" class="btn btn-primary">Add
                                    </button>
                                </div>

                            </form>
                            <ul id="legitimate-url-list" class="list-group overflow-auto">
                            </ul>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>


</div>

{% endblock %}


{% block scripts %}
<script src="{% static 'js/probes.js' %}"></script>
{% endblock %}