{% extends "base.html" %}
{% load static %}
{% block title %}Wiki {% endblock %}


{% block style %}
<link href="{% static 'css/wiki.css' %}" rel="stylesheet">
{% endblock %}


{% block navbar %}
<li class="nav-item">
    <a class="nav-link active" id="nav-events-tab" data-toggle="tab" href="#nav-events" role="tab"
       aria-controls="nav-events" aria-selected="true">Wiki</a>
</li>
{% endblock %}


{% block content %}
<!-- Tabs content-->

<div id="div-wiki">
    <div class="row">
        <div class="col-sm-2">
            <!-- A vertical navbar -->
            <nav id="nav-fixed" class="navbar">

                <!-- Links -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="text-primary" href="#Open-TIP"><strong>About Open TIP</strong></a>
                    </li>
                    <li class="nav-item">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="text-primary" href="#Getting-started">Getting started</a>
                            </li>
                            <li class="nav-item">
                                <a class="text-primary" href="#Probes">Probes</a>
                            </li>
                            <li class="nav-item">
                                <a class="text-primary" href="#TGF-1">To go further</a>
                            </li>
                            </li>
                            <li class="nav-item">
                                <a class="text-primary" href="#Threat-Intelligence"><strong>About Threat
                                    Intelligence</strong></a>
                            </li>
                            <li class="nav-item">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="text-primary" href="#Def">Definition</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="text-primary" href="#Cycle">Cycle</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="text-primary" href="#DII">Distinguish data, information and
                                            intelligence</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="text-primary" href="#TGF-2">To go further</a>
                                    </li>
                                    </li>
                                </ul>
            </nav>
        </div>
        <div class="col-sm-10">
            <h3 id="Open-TIP">About Open TIP</h3>
            <h4 id="Getting-started">Getting started</h4>
            <p><strong>Don&#39;t panic and take a deep breath !</strong></p>
            <p>Open TIP has been conceived to be user-friendly, so you don&#39;t need to be worried. </p>
            <p>The events are displayed in the event tab. </p>
            <p>An event is the discovery of a new potential phishing URL. It&#39;s possible to obtain more information
                about an event by clicking on it.</p>
            <div id="img-wiki">
                <img src="{% static 'icons/info_event.png' %}">
            </div>
            <p>The probe collects information about it then the platform core gives you the result of the machine
                learning based qualification to help you choosing whether a page is legimate or not.</p>
            <div id="img-wiki">
                <img src="{% static 'icons/qualify.png' %}">
            </div>
            <h4 id="Probes">Probes</h4>
            <p><strong>Probes ? Did you said probes ?</strong></p>
            <h5>Manage probes</h5>
            <p>If you have add a new probe, you also need to add it to on this tab. It will allow you to generate a key
                (40 bytes) which is used by the platform to authenticate the probe. Of course, you need to record this
                key in your probe.</p>
            <h5>Sources</h5>
            <p>The probes collects information about URL from different sources : </p>
            <ul>
                <li><p>sites which records potential phishing URL</p></li>
                <li><p>URL chosen by the user</p>
                    <ul>
                        <li>suspicous URL</li>
                        <li>legitimate URL (used by the platfom to make comparisons)</li>
                    </ul>
                </li>
            </ul>
            <p>You can add URL in the following panel :</p>
            <div id="img-wiki">
                <img src="{% static 'icons/URL.png' %}" style="width: 100%">
            </div>
            <h4 id="TGF-1">To go further</h4>
            <p><strong>Don&#39;t have limits !</strong></p>
            <p>Open TIP is an open source platform which means that you can view and modify the source code as you want.
                Consequently, you can add new features to :</p>
            <ul>
                <li><p>Adding new types of threat to be detected</p></li>
                <li><p>Creating new modes for the probes</p></li>
                <li><p>And much more &hellip;</p></li>
            </ul>
            <p>The source code is available <a href="https://gitlab.com/tip_group/opentip">here</a>, on Open TIP gitlab.
            </p>

            <h3 id="Threat-Intelligence">About Threat Intelligence</h3>
            <h4 id="Def">Definition</h4>
            <p>What is Cyber Threat Intelligence ? Gartner defines it as :</p>
            <blockquote>
                <p>Evidence-based knowledge, including context, mechanims indicators, implications and actionable
                    advise, about an existing or emerging menace or hazard to assets that can be used to inform
                    decisions regarding the subject&#39;s response to that menace or hazard.</p>
            </blockquote>
            <p>Let&#39;s explain this concept in simple words.</p>
            <p>The objective of Threat Intelligence is to create actionable data on threats. It&#39;s a process specific
                to an environment : for example, every domain (education, finance &hellip;) has particularities and
                every compagny has its own way of functionning, a specific architecture &hellip;</p>
            <p>Actors and their motivations, techniques &hellip; are also taken in consideration and correled to
                threats.</p>
            <p>You also need to know that there are diffent types of Threat Intelligence, like strategic or operational
                for example.</p>
            <h4 id="Cycle">Cycle</h4>
            <p>Cyber Threat Intelligence follows a cycle wich is the following :</p>
            <div id="img-wiki">
                <img src="{% static 'icons/intelligencecycle.png' %}">
            </div>
            <ul>
                <li><p>Planning and direction =&gt; In this step you need to defines your requirements and your goals in
                    using Threat Intelligence. For this, you will have to define valuables assets that you want to
                    protect, the impact if these assets are targeted and lost &hellip; </p></li>
                <li><p>Collection =&gt; In this step, you will collect data, from many sources : internal network (logs,
                    &hellip;), organizations, forums, industry, &hellip;</p></li>
                <li><p>Processing and exploitation =&gt; The data is interpreted, translated and used to form
                    information, which can be useful to your organization, contrary to data.</p></li>
                <li><p>Analysis and production =&gt; This step is an human process and transfrom information into
                    intelligence that can help you to take decisions like investigate or not about a potential
                    threat.</p></li>
                <li><p>Dissemination and integration =&gt; In this step, you deliver results of your Threat Intelligence
                    program to people who needed it.</p></li>
            </ul>
            <h4 id="DII">Distinguish data, information and intelligence</h4>
            <p>It&#39;s very important to not be confused between data, information and intelligence. </p>
            <div id="img-wiki">
                <img src="{% static 'icons/data_inf_intell.png' %}">
            </div>
            <pre><code>           Joint Publication 2-0: Joint Intelligence, US Department of Defense
          </code></pre>
            <p><em>Data</em> is collected in big volumes and contain maybe valuable things. Potentially, it can became
                <em>information</em>.</p>
            <p><em>Information</em> is generated when various data are combined for a same question.</p>
            <p><em>Intelligence</em> help in taking decisions about our context and linked threats.</p>
            <p>The Cyber Threat Intelligence help us to <em>transform</em> our data to intelligence.</p>
            <h4 id="TGF-2">To go further</h4>
            <p>Some good sources about Threat Intelligence are available on the Internet, including the following
                articles, used as sources for this little topic about Threat Intelligence : </p>
            <ul>
                <li><p><strong>Threat Intelligence : What is it, and How Can it Protect You from Today&#39;s Advanced
                    Cyber-Attacks</strong>, Gartner</p></li>
                <li><p><strong>Best Practices for Applying Threat Intelligence</strong>, Recorded Future</p></li>
                <li><p><strong>Exploring the opportunities and limitations of current Threat Intelligence
                    Platforms</strong>, ENSIA</p></li>
                <li><p><strong>The 5 steps of the intelligence cycle</strong>, Count Upon Security</p></li>
            </ul>

        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

{% endblock %}
