

/*th {
  font-size: 80%;
}
*/

td {
  white-space: nowrap;
}

/*.table td, .table th{
  padding: 0.40em;
}
*/

.url-cell{
  overflow-y : scroll;
  width: 50em;
  display: grid;
}

.event-line {
  align-self: auto;
  border: black 0.2em;
  font-size: 0.6em;
}

.event-line:hover {
  /*background: #ecf6fe;*/
  background: #f3f3f3;
  border: black 0.2em;
  border-radius: 0.1em;
  -moz-window-shadow: 3px;
  box-shadow: 3px;
}

#event-focus{
  padding-top: 0.5em;
  /*height: 5vh;*/
  transition: height 0.5s ease;
  -webkit-transition: height 0.5s ease;
  -moz-transition: height 0.5s ease;
  -o-transition: height 0.5s ease;
  overflow-y: scroll;
}

#event-focus.toggle{
  padding-top: 0.5em;
  height: 75vh;
  transition: height 0.5s ease;
  -webkit-transition: height 0.5s ease;
  -moz-transition: height 0.5s ease;
  -o-transition: height 0.5s ease;
  overflow-y: scroll;
}

#event-focus-default-message{
  margin-top: 0.2em;
}

#event-list {
 height: 70vh;
}

#event-list-head{
  /*background: #98BBD4;*/
  border: black 0.2em;
  border-radius: 0.1em;
  -moz-window-shadow: 3px;
  box-shadow: 3px;
}

.form-group {
  margin-bottom: 0.8em;
}

#button-toggle-focus-block{
  margin-right: 0.5em;
}

#second_nav {
  padding-left: 20%;
  padding-right: 30%;
}

#qualify-event-button{
  width: 20%;
}