#probe-manage-form {
  width: 80%;
  padding-top: 5px;
}

#probe-manage-form {
  padding: 20px;
}

#side-probes-list{
  float: left;
  width: 20%;

}

#probe-select option{
  text-align: center;
}

#probe-name {
  margin-top: 10px;
}

#probe-manage-head {
/*background: #98BBD4;*/
border: black 0.2em;
border-radius: 0.1em;
display: inline-block;
}

#probe-manage-head h4{
  margin-left: 0.6em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  vertical-align: middle;
  height: 1.5em;
  font-size: 1.3em;
  }

#dropdown-probes-list {
  max-height: 10em;
}

#apikey-renew-button {
  height: 2em;
  width: 2em;
  padding: 0;
}

#apikey-renew-button img{
  height: 1em;
  width: 1em;
}

.url-block {
  margin-left: 6em;
  height: 60vh;
}

#second_nav{
  padding-left: 21%;
  padding-right: 30%;
}