body {
  overflow-x: hidden;
  /*  background: #d5d4d8;*/
  background:  #ecf6fe;
}

a{
  color: white;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  width: 3em;
  height: 100%;
  overflow-y: auto;
  overflow-x:hidden;
  background: #0099ff;
  padding-top: 2%;
  transition: width 0.5s ease;
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  -o-transition: width 0.5s ease;
}

#sidebar-wrapper:hover {
  z-index: 1000;
  position: fixed;
  width: 9em;
  height: 100%;
  overflow-y: auto;
  background: #0099ff;
  padding-top: 2%;
  transition: width 0.5s ease;
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  -o-transition: width 0.5s ease;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 9em;
  margin: 0;
  padding: 0;
  left: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
  align-content: center;
  font-size: 110%;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: white;
  padding-top: 2px;
  padding-bottom: 2px;
}

.sidebar-nav li a img {
  float: left;
  margin-left: 0.3em;
}

.nav-tabs {
  border-bottom: 1px solid #b5b5b5;
}

.nav-tabs .nav-link:hover {

  color: #373a37;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #373a37;
  background-color: #e5e5e5;
  border-color: #b5b5b5 #b5b5b5 #b5b5b5;
  outline: none;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active:hover {
  color: #373a37;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active:focus {
  color: #373a37;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  color: #373a37;
  background: #e5e5e5;
}

.sidebar-nav li h3 {
  text-indent: 20px;
  line-height: 40px;
  color: white;
}

.sidebar-nav img {
  margin-left: 0%;
  margin-right: 10%;
  padding-left: 0%;
  align-content: left;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #666666;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#content {
  margin-left: 3em;
}

.content-nav {
  background: #1b1725;
  padding-top: 5px;
}

#second_nav {
  align-self: center;
  font-size: 110%;
  color: white;
}

.section {
  background: #fafafa;
  border: 1px;
}

/*.tab-pane{
  padding: 1em;
}
*/

#brand {
  margin-left: 3em;
}

#brand-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 8em;
  height: auto;
}

#brand-logo-reduced {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 2.5em;
  height: auto;
}

.no-padding {
  padding: 0;
}

.inline {
  display: inline;
}

.thin {
  height: 0;
}

.title-bar{
  background: #e5e5e5;
  padding-top: .3em;
  padding-bottom: .3em;
  padding-left: .5em;
  margin-bottom: 0.5em;
}

.no-margin-bottom{
  margin-bottom: 0;
}