#div-wiki {
  margin-top: 12px;
  margin-left: 2px;
  padding-bottom: 12px;
}

#img-wiki {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 25px;
}

#nav-fixed {
  position: fixed;
  width: 17%;
}

body {
  background: white;
}